Esp32 Software/Ato control/ATO flow.json
[
    {
        "id": "75b48f8a75686579",
        "type": "tab",
        "label": "Esp32 Auto Top Off",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fd127bf0b7801df4",
        "type": "group",
        "z": "75b48f8a75686579",
        "name": "",
        "style": {
            "fill": "#ffbfbf",
            "label": true
        },
        "nodes": [
            "06d74d467f47d50f",
            "36e82e7a870ff0e2",
            "09c62a7c4da96409",
            "9a97ce03ad3fbf2d"
        ],
        "x": 54,
        "y": 99,
        "w": 1012,
        "h": 142
    },
    {
        "id": "47982c07aecfe4d1",
        "type": "group",
        "z": "75b48f8a75686579",
        "name": "",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "3045df148523a2db",
            "83cb2216bb0c38ae",
            "49d8d5b216479344",
            "70a46388552d3428",
            "acf0c8a9ff74e2f3",
            "c06112ce4793a5b9",
            "780dc4fdda46694a",
            "b0080288d01d77b7",
            "a1bf14e5042aa68d",
            "e129ed9b23429587",
            "86b11b8cfca8ad13",
            "bb03b73ad1fabdd2"
        ],
        "x": 54,
        "y": 279,
        "w": 1012,
        "h": 402
    },
    {
        "id": "d51a4cf96a0ba8c1",
        "type": "comment",
        "z": "75b48f8a75686579",
        "name": "Auto Top Off Contol Information From One Esp32 Module",
        "info": "",
        "x": 510,
        "y": 40,
        "wires": []
    },
    {
        "id": "06d74d467f47d50f",
        "type": "mqtt out",
        "z": "75b48f8a75686579",
        "g": "fd127bf0b7801df4",
        "name": "",
        "topic": "DispHeartState",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3d66ad6c381a3af0",
        "x": 960,
        "y": 200,
        "wires": []
    },
    {
        "id": "36e82e7a870ff0e2",
        "type": "inject",
        "z": "75b48f8a75686579",
        "g": "fd127bf0b7801df4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "09c62a7c4da96409"
            ]
        ]
    },
    {
        "id": "09c62a7c4da96409",
        "type": "trigger",
        "z": "75b48f8a75686579",
        "g": "fd127bf0b7801df4",
        "name": "",
        "op1": "on",
        "op2": "off",
        "op1type": "str",
        "op2type": "str",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 540,
        "y": 200,
        "wires": [
            [
                "06d74d467f47d50f"
            ]
        ]
    },
    {
        "id": "9a97ce03ad3fbf2d",
        "type": "comment",
        "z": "75b48f8a75686579",
        "g": "fd127bf0b7801df4",
        "name": "Visual heart beat via the LED display",
        "info": "",
        "x": 220,
        "y": 140,
        "wires": []
    },
    {
        "id": "3045df148523a2db",
        "type": "function",
        "z": "75b48f8a75686579",
        "g": "47982c07aecfe4d1",
        "name": "function 3",
        "func": "if (msg.payload == \"low\") {\n    msg.color = \"yellow\";\n} else if (msg.payload == \"normal\") {\n    msg.color = \"green\";\n} else if (msg.payload == \"high\") {\n    msg.color = \"red\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 380,
        "wires": [
            [
                "70a46388552d3428"
            ]
        ]
    },
    {
        "id": "83cb2216bb0c38ae",
        "type": "mqtt in",
        "z": "75b48f8a75686579",
        "g": "47982c07aecfe4d1",
        "name": "",
        "topic": "SumpState",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3d66ad6c381a3af0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 320,
        "wires": [
            [
                "49d8d5b216479344",
                "3045df148523a2db"
            ]
        ]
    },
    {
        "id": "49d8d5b216479344",
        "type": "debug",
        "z": "75b48f8a75686579",
        "g": "47982c07aecfe4d1",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 320,
        "wires": []
    },
    {
        "id": "70a46388552d3428",
        "type": "ui_text",
        "z": "75b48f8a75686579",
        "g": "47982c07aecfe4d1",
        "group": "a6e358b.672ffa8",
        "order": 5,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Sump Water Level",
        "format": "<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
        "layout": "row-spread",
        "x": 930,
        "y": 380,
        "wires": []
    },
    {
        "id": "acf0c8a9ff74e2f3",
        "type": "mqtt in",
        "z": "75b48f8a75686579",
        "g": "47982c07aecfe4d1",
        "name": "",
        "topic": "AtoState",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3d66ad6c381a3af0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 460,
        "wires": [
            [
                "c06112ce4793a5b9",
                "780dc4fdda46694a"
            ]
        ]
    },
    {
        "id": "c06112ce4793a5b9",
        "type": "debug",
        "z": "75b48f8a75686579",
        "g": "47982c07aecfe4d1",
        "name": "debug 22",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 460,
        "wires": []
    },
    {
        "id": "780dc4fdda46694a",
        "type": "function",
        "z": "75b48f8a75686579",
        "g": "47982c07aecfe4d1",
        "name": "function 4",
        "func": "if (msg.payload == \"high water\") {\n    msg.color = \"green\";\n} else if (msg.payload == \"low water\") {\n    msg.color = \"red\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 520,
        "wires": [
            [
                "b0080288d01d77b7"
            ]
        ]
    },
    {
        "id": "b0080288d01d77b7",
        "type": "ui_text",
        "z": "75b48f8a75686579",
        "g": "47982c07aecfe4d1",
        "group": "a6e358b.672ffa8",
        "order": 5,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Top Off Water Level",
        "format": "<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
        "layout": "row-spread",
        "x": 930,
        "y": 520,
        "wires": []
    },
    {
        "id": "a1bf14e5042aa68d",
        "type": "mqtt in",
        "z": "75b48f8a75686579",
        "g": "47982c07aecfe4d1",
        "name": "",
        "topic": "DisplayState",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3d66ad6c381a3af0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 580,
        "wires": [
            [
                "e129ed9b23429587",
                "bb03b73ad1fabdd2"
            ]
        ]
    },
    {
        "id": "e129ed9b23429587",
        "type": "function",
        "z": "75b48f8a75686579",
        "g": "47982c07aecfe4d1",
        "name": "function 5",
        "func": "if (msg.payload == \"normal\") {\n    msg.color = \"green\";\n} else if (msg.payload == \"high\") {\n    msg.color = \"red\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 640,
        "wires": [
            [
                "86b11b8cfca8ad13"
            ]
        ]
    },
    {
        "id": "86b11b8cfca8ad13",
        "type": "ui_text",
        "z": "75b48f8a75686579",
        "g": "47982c07aecfe4d1",
        "group": "a6e358b.672ffa8",
        "order": 5,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Display Water Level",
        "format": "<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
        "layout": "row-spread",
        "x": 940,
        "y": 640,
        "wires": []
    },
    {
        "id": "bb03b73ad1fabdd2",
        "type": "debug",
        "z": "75b48f8a75686579",
        "g": "47982c07aecfe4d1",
        "name": "debug 23",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 580,
        "wires": []
    },
    {
        "id": "fa86a51b58903509",
        "type": "ui_spacer",
        "z": "75b48f8a75686579",
        "name": "spacer",
        "group": "a6e358b.672ffa8",
        "order": 2,
        "width": 8,
        "height": 1
    },
    {
        "id": "3d66ad6c381a3af0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a6e358b.672ffa8",
        "type": "ui_group",
        "name": "Auto Top Off Module Status",
        "tab": "4e528085.a1bfa",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "4e528085.a1bfa",
        "type": "ui_tab",
        "name": "Auto Top Off",
        "icon": "dashboard",
        "order": 0,
        "disabled": false,
        "hidden": false
    }
]