Node Red/Node red Flow Backup/Backup Heater Control.json
[
    {
        "id": "923d46fbeb64e5e5",
        "type": "tab",
        "label": "Temperature Monitoring ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6bbb521b9dc93fc1",
        "type": "group",
        "z": "923d46fbeb64e5e5",
        "name": "",
        "style": {
            "fill": "#ffffbf",
            "label": true
        },
        "nodes": [
            "78e2efe506d48494",
            "ac16d87654c270d5",
            "4200a6971bda47f1",
            "22eb6fece4776f67",
            "26d4da56d6e6abf0",
            "c7bdda4f6e0fab4c",
            "22b446c6755d01c4",
            "18cd054306eada84",
            "6faf73bf09e6a839",
            "91b5254bc8e0b1a7"
        ],
        "x": 34,
        "y": 59,
        "w": 1032,
        "h": 422
    },
    {
        "id": "f07adae649493d87",
        "type": "group",
        "z": "923d46fbeb64e5e5",
        "name": "",
        "style": {
            "fill": "#ffbfbf",
            "label": true
        },
        "nodes": [
            "3d771162bdf5dc47",
            "8e47c9d9b7fa5739",
            "fcf7a7da20e44eee",
            "3464f5f077f34dd6",
            "4f0e69c41809c0da",
            "80be68a6f21146b3"
        ],
        "x": 34,
        "y": 499,
        "w": 1032,
        "h": 202
    },
    {
        "id": "3e2bf038fb455eae",
        "type": "group",
        "z": "923d46fbeb64e5e5",
        "name": "",
        "style": {
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "e97d4b9ebcbce192",
            "91b693fd334aea3e",
            "d3c4c19ec13033ee"
        ],
        "x": 34,
        "y": 719,
        "w": 1032,
        "h": 142
    },
    {
        "id": "5b4f10e0278d41af",
        "type": "comment",
        "z": "923d46fbeb64e5e5",
        "name": "This Flow Uses MQTT To Receiive Its Data From ESP32",
        "info": "",
        "x": 570,
        "y": 20,
        "wires": []
    },
    {
        "id": "78e2efe506d48494",
        "type": "debug",
        "z": "923d46fbeb64e5e5",
        "g": "6bbb521b9dc93fc1",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 180,
        "wires": []
    },
    {
        "id": "ac16d87654c270d5",
        "type": "ui_gauge",
        "z": "923d46fbeb64e5e5",
        "g": "6bbb521b9dc93fc1",
        "name": "",
        "group": "02b937db40fbc203",
        "order": 1,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Back Up Heater",
        "label": "Deg C",
        "format": "{{value}}",
        "min": "20",
        "max": "30",
        "colors": [
            "#0c00b3",
            "#04e600",
            "#f72008"
        ],
        "seg1": "24",
        "seg2": "26",
        "x": 960,
        "y": 100,
        "wires": []
    },
    {
        "id": "4200a6971bda47f1",
        "type": "ui_chart",
        "z": "923d46fbeb64e5e5",
        "g": "6bbb521b9dc93fc1",
        "name": "",
        "group": "02b937db40fbc203",
        "order": 3,
        "width": 21,
        "height": 7,
        "label": "Last 24 hours",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 960,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "22eb6fece4776f67",
        "type": "ui_text",
        "z": "923d46fbeb64e5e5",
        "g": "6bbb521b9dc93fc1",
        "group": "02b937db40fbc203",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "BackUp Heater",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 960,
        "y": 280,
        "wires": []
    },
    {
        "id": "26d4da56d6e6abf0",
        "type": "mqtt in",
        "z": "923d46fbeb64e5e5",
        "g": "6bbb521b9dc93fc1",
        "name": "",
        "topic": "backupHeaterStatus",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3d66ad6c381a3af0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 280,
        "wires": [
            [
                "22eb6fece4776f67",
                "78e2efe506d48494",
                "c7bdda4f6e0fab4c"
            ]
        ]
    },
    {
        "id": "c7bdda4f6e0fab4c",
        "type": "function",
        "z": "923d46fbeb64e5e5",
        "g": "6bbb521b9dc93fc1",
        "name": "Test",
        "func": "msg.color = (msg.payload == \"Heater On\")?\"green\":\"red\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 340,
        "wires": [
            [
                "22b446c6755d01c4"
            ]
        ]
    },
    {
        "id": "22b446c6755d01c4",
        "type": "ui_text",
        "z": "923d46fbeb64e5e5",
        "g": "6bbb521b9dc93fc1",
        "group": "02b937db40fbc203",
        "order": 10,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Heater Status",
        "format": "<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
        "layout": "row-spread",
        "x": 960,
        "y": 340,
        "wires": []
    },
    {
        "id": "3d771162bdf5dc47",
        "type": "debug",
        "z": "923d46fbeb64e5e5",
        "g": "f07adae649493d87",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 600,
        "wires": []
    },
    {
        "id": "8e47c9d9b7fa5739",
        "type": "ui_text_input",
        "z": "923d46fbeb64e5e5",
        "g": "f07adae649493d87",
        "name": "",
        "label": "Maximum Temp setting press the tab / enter key to send to ESP32",
        "tooltip": "",
        "group": "02b937db40fbc203",
        "order": 17,
        "width": 14,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "5000",
        "topic": "topic",
        "topicType": "str",
        "x": 300,
        "y": 540,
        "wires": [
            [
                "3d771162bdf5dc47",
                "fcf7a7da20e44eee"
            ]
        ]
    },
    {
        "id": "fcf7a7da20e44eee",
        "type": "mqtt out",
        "z": "923d46fbeb64e5e5",
        "g": "f07adae649493d87",
        "name": "",
        "topic": "backupMaxSetting",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3d66ad6c381a3af0",
        "x": 950,
        "y": 540,
        "wires": []
    },
    {
        "id": "3464f5f077f34dd6",
        "type": "ui_text_input",
        "z": "923d46fbeb64e5e5",
        "g": "f07adae649493d87",
        "name": "",
        "label": "Minimum Temp setting press the tab / enter key to send to Esp32",
        "tooltip": "",
        "group": "02b937db40fbc203",
        "order": 16,
        "width": 14,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "5000",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 660,
        "wires": [
            [
                "3d771162bdf5dc47",
                "4f0e69c41809c0da"
            ]
        ]
    },
    {
        "id": "4f0e69c41809c0da",
        "type": "mqtt out",
        "z": "923d46fbeb64e5e5",
        "g": "f07adae649493d87",
        "name": "",
        "topic": "backupMinSetting",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3d66ad6c381a3af0",
        "x": 950,
        "y": 660,
        "wires": []
    },
    {
        "id": "80be68a6f21146b3",
        "type": "comment",
        "z": "923d46fbeb64e5e5",
        "g": "f07adae649493d87",
        "name": "This flow is for changing the current Min Max values",
        "info": "",
        "x": 250,
        "y": 600,
        "wires": []
    },
    {
        "id": "e97d4b9ebcbce192",
        "type": "debug",
        "z": "923d46fbeb64e5e5",
        "g": "3e2bf038fb455eae",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 820,
        "wires": []
    },
    {
        "id": "91b693fd334aea3e",
        "type": "mqtt in",
        "z": "923d46fbeb64e5e5",
        "g": "3e2bf038fb455eae",
        "name": "",
        "topic": "feedbackTopic",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "3d66ad6c381a3af0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 760,
        "wires": [
            [
                "e97d4b9ebcbce192",
                "d3c4c19ec13033ee"
            ]
        ]
    },
    {
        "id": "d3c4c19ec13033ee",
        "type": "ui_text",
        "z": "923d46fbeb64e5e5",
        "g": "3e2bf038fb455eae",
        "group": "02b937db40fbc203",
        "order": 13,
        "width": 10,
        "height": 1,
        "name": "",
        "label": "Esp32 Feedback",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 950,
        "y": 760,
        "wires": []
    },
    {
        "id": "18cd054306eada84",
        "type": "mqtt in",
        "z": "923d46fbeb64e5e5",
        "g": "6bbb521b9dc93fc1",
        "name": "",
        "topic": "backupHeaterControl",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3d66ad6c381a3af0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 100,
        "wires": [
            [
                "78e2efe506d48494",
                "ac16d87654c270d5",
                "4200a6971bda47f1"
            ]
        ]
    },
    {
        "id": "6faf73bf09e6a839",
        "type": "ui_text",
        "z": "923d46fbeb64e5e5",
        "g": "6bbb521b9dc93fc1",
        "group": "02b937db40fbc203",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ESP32 Initial Value Min Value 24 Max Value 25 Unless Changed Below If Blank Above It Has Not Been Changed Since Last Reprogramming",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 530,
        "y": 400,
        "wires": []
    },
    {
        "id": "91b5254bc8e0b1a7",
        "type": "comment",
        "z": "923d46fbeb64e5e5",
        "g": "6bbb521b9dc93fc1",
        "name": "Limitations",
        "info": "Even though I can control the values to a few decimal places.\n\nUsing the EEPROM of the ESP32 has limitations using floating point numbers.\n\nThis could be gotten around if I send a reboot message from the ESP32. and then use node red to change the values back to floating points.",
        "x": 120,
        "y": 440,
        "wires": []
    },
    {
        "id": "02b937db40fbc203",
        "type": "ui_group",
        "name": "BackUp Temperature Monitoring",
        "tab": "10efd1e5b5bf9ba1",
        "order": 1,
        "disp": true,
        "width": 28,
        "collapse": false
    },
    {
        "id": "3d66ad6c381a3af0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "10efd1e5b5bf9ba1",
        "type": "ui_tab",
        "name": "Backup Temperature",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]