Node Red/Node red Flow Backup/flows.json
[
    {
        "id": "19183521a2d39204",
        "type": "tab",
        "label": "Esp32 Temp",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "923d46fbeb64e5e5",
        "type": "tab",
        "label": "Pi 4 Ds18B20",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3d66ad6c381a3af0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "599d15c64f9d3c11",
        "type": "ui_group",
        "name": "Esp Temp Monitor",
        "tab": "10efd1e5b5bf9ba1",
        "order": 1,
        "disp": true,
        "width": "27",
        "collapse": false
    },
    {
        "id": "10efd1e5b5bf9ba1",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "65f2a8b8f53ad591",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#3bafb5",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#3bafb5",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#3bafb5",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#6dcbcf",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#3bafb5",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "85eee24a8a6c3713",
        "type": "ui_spacer",
        "z": "19183521a2d39204",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 2,
        "width": 3,
        "height": 1
    },
    {
        "id": "4efbc0e70f7f0464",
        "type": "ui_spacer",
        "z": "19183521a2d39204",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "f176784449341706",
        "type": "ui_spacer",
        "z": "19183521a2d39204",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "7bed04d74f7df2f9",
        "type": "ui_spacer",
        "z": "19183521a2d39204",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "832bc038632930ae",
        "type": "ui_spacer",
        "z": "19183521a2d39204",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "53e2e1584c25eb48",
        "type": "ui_spacer",
        "z": "19183521a2d39204",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "de896c766b470446",
        "type": "ui_spacer",
        "z": "19183521a2d39204",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "af17ba9074bc03cd",
        "type": "ui_spacer",
        "z": "19183521a2d39204",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "1a491f3faa91232f",
        "type": "ui_spacer",
        "z": "19183521a2d39204",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "7d3da4808b334349",
        "type": "ui_spacer",
        "z": "19183521a2d39204",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "b21e076423133c56",
        "type": "ui_spacer",
        "z": "19183521a2d39204",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 13,
        "width": 3,
        "height": 1
    },
    {
        "id": "bb878cf04a768cbc",
        "type": "ui_spacer",
        "z": "19183521a2d39204",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "7d18e5f72cb9bae8",
        "type": "ui_spacer",
        "z": "19183521a2d39204",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 15,
        "width": 9,
        "height": 1
    },
    {
        "id": "79ae28eff78be531",
        "type": "ui_spacer",
        "z": "19183521a2d39204",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "58ec889bb8152bbb",
        "type": "ui_spacer",
        "z": "19183521a2d39204",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 17,
        "width": 9,
        "height": 1
    },
    {
        "id": "5f9b45afda77d6d4",
        "type": "ui_spacer",
        "z": "19183521a2d39204",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 19,
        "width": 2,
        "height": 1
    },
    {
        "id": "1d5aadb457579148",
        "type": "ui_spacer",
        "z": "19183521a2d39204",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 20,
        "width": 9,
        "height": 1
    },
    {
        "id": "188f960a5f8f5478",
        "type": "ui_spacer",
        "z": "19183521a2d39204",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 21,
        "width": 2,
        "height": 1
    },
    {
        "id": "4ac3beba3707c00c",
        "type": "ui_spacer",
        "z": "19183521a2d39204",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 22,
        "width": 9,
        "height": 1
    },
    {
        "id": "1d9c0d0476a6937e",
        "type": "ui_spacer",
        "z": "19183521a2d39204",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 23,
        "width": 2,
        "height": 1
    },
    {
        "id": "f309b8af7710c396",
        "type": "ui_spacer",
        "z": "19183521a2d39204",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 24,
        "width": 9,
        "height": 1
    },
    {
        "id": "6065e1bceb9fb28d",
        "type": "ui_spacer",
        "z": "19183521a2d39204",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 25,
        "width": 2,
        "height": 1
    },
    {
        "id": "427bdf9ad9f46a89",
        "type": "ui_spacer",
        "z": "19183521a2d39204",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 26,
        "width": 9,
        "height": 1
    },
    {
        "id": "d169b5f4467d84ee",
        "type": "ui_spacer",
        "z": "19183521a2d39204",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 27,
        "width": 2,
        "height": 1
    },
    {
        "id": "435e2ea8ad845523",
        "type": "ui_spacer",
        "z": "19183521a2d39204",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 28,
        "width": 9,
        "height": 1
    },
    {
        "id": "d00b66e3681257ec",
        "type": "ui_spacer",
        "z": "19183521a2d39204",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 29,
        "width": 2,
        "height": 1
    },
    {
        "id": "0aac97ab9ac5b00c",
        "type": "ui_spacer",
        "z": "19183521a2d39204",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 30,
        "width": 9,
        "height": 1
    },
    {
        "id": "1341c05a0b41322b",
        "type": "ui_spacer",
        "z": "19183521a2d39204",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 31,
        "width": 2,
        "height": 1
    },
    {
        "id": "7172b4a9e7f24faf",
        "type": "mqtt in",
        "z": "19183521a2d39204",
        "name": "",
        "topic": "Esp_Heater_Control",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3d66ad6c381a3af0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 100,
        "wires": [
            [
                "96166e52444ab96a",
                "0817b897dc7a5c6f",
                "5e41fa42626ee651"
            ]
        ]
    },
    {
        "id": "96166e52444ab96a",
        "type": "debug",
        "z": "19183521a2d39204",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 100,
        "wires": []
    },
    {
        "id": "41ea0590354c89cc",
        "type": "mqtt in",
        "z": "19183521a2d39204",
        "name": "",
        "topic": "Esp_Heater_Status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3d66ad6c381a3af0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "96166e52444ab96a"
            ]
        ]
    },
    {
        "id": "0817b897dc7a5c6f",
        "type": "ui_gauge",
        "z": "19183521a2d39204",
        "name": "",
        "group": "599d15c64f9d3c11",
        "order": 1,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "Esp32 Display",
        "label": "Deg C",
        "format": "{{value}}",
        "min": "20",
        "max": "32",
        "colors": [
            "#000cb3",
            "#00e60f",
            "#ca3838"
        ],
        "seg1": "24",
        "seg2": "28",
        "x": 700,
        "y": 180,
        "wires": []
    },
    {
        "id": "5e41fa42626ee651",
        "type": "ui_chart",
        "z": "19183521a2d39204",
        "name": "",
        "group": "599d15c64f9d3c11",
        "order": 3,
        "width": 16,
        "height": 7,
        "label": "Esp Last 12 Hours",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 710,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "aacae0e8eaeaa5e3",
        "type": "1-Wire",
        "z": "923d46fbeb64e5e5",
        "identifier": "28-012032e3d6b5",
        "name": "",
        "format": "1",
        "x": 350,
        "y": 80,
        "wires": [
            [
                "ed203222210937c2",
                "2ce9d38b4f85508e"
            ]
        ]
    },
    {
        "id": "ed203222210937c2",
        "type": "debug",
        "z": "923d46fbeb64e5e5",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "598b8ecad3f0f6a4",
        "type": "inject",
        "z": "923d46fbeb64e5e5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "aacae0e8eaeaa5e3"
            ]
        ]
    },
    {
        "id": "2ce9d38b4f85508e",
        "type": "ui_chart",
        "z": "923d46fbeb64e5e5",
        "name": "",
        "group": "599d15c64f9d3c11",
        "order": 18,
        "width": 16,
        "height": 7,
        "label": " Pi Sensor",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#28b31e",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 600,
        "y": 160,
        "wires": [
            []
        ]
    }
]