Node Red/Node red Flow Backup/flows (1).json
[
    {
        "id": "19183521a2d39204",
        "type": "tab",
        "label": "Esp32 Temp",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "923d46fbeb64e5e5",
        "type": "tab",
        "label": "Pi 4 Ds18B20",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1748b913055d5670",
        "type": "group",
        "z": "19183521a2d39204",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7172b4a9e7f24faf",
            "96166e52444ab96a",
            "41ea0590354c89cc",
            "0817b897dc7a5c6f",
            "5e41fa42626ee651",
            "eede299d438f570d"
        ],
        "x": 34,
        "y": 19
    },
    {
        "id": "6191f9df9f4a6f9c",
        "type": "group",
        "z": "923d46fbeb64e5e5",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "aacae0e8eaeaa5e3",
            "ed203222210937c2",
            "598b8ecad3f0f6a4",
            "2ce9d38b4f85508e",
            "0a4a7f9d5ca84ae4",
            "aa283b45344d5c79"
        ],
        "x": 14,
        "y": 39,
        "w": 792,
        "h": 302
    },
    {
        "id": "f2e5476b86943dc4",
        "type": "group",
        "z": "923d46fbeb64e5e5",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "207b7eaf74e3b78c",
            "265524601c689982",
            "5fddeef0a45ae970",
            "901fd0f23821d2bf",
            "fe933abedf68a01d",
            "869838924c8fe1c8"
        ],
        "x": 14,
        "y": 379,
        "w": 772,
        "h": 302
    },
    {
        "id": "fa979195375602f8",
        "type": "group",
        "z": "923d46fbeb64e5e5",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "391f5c5f3b0afd2f",
            "969063ad38ae93bf",
            "afefa3c9c9584d4e",
            "e48a8c0d92082339",
            "2604006473c6e76b",
            "c46365bb80ce69f3"
        ],
        "x": 14,
        "y": 719,
        "w": 772,
        "h": 302
    },
    {
        "id": "3d66ad6c381a3af0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "599d15c64f9d3c11",
        "type": "ui_group",
        "name": "Temperature Monitoring",
        "tab": "10efd1e5b5bf9ba1",
        "order": 1,
        "disp": true,
        "width": "27",
        "collapse": false
    },
    {
        "id": "10efd1e5b5bf9ba1",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "65f2a8b8f53ad591",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#3bafb5",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#3bafb5",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#3bafb5",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#6dcbcf",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#3bafb5",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "1189f9094bd660df",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 2,
        "width": 3,
        "height": 1
    },
    {
        "id": "89283ed63189dba7",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "130d5a2f8d044d59",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "4106894988db1208",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "aba54574cd97beaf",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "c6019782fb0193ae",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "a34c72d4c44df5ad",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "3db954e6a3f2924b",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "de5d05c6c3383cb2",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "15e02f346da14754",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "2d6a170a13927a6a",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 13,
        "width": 3,
        "height": 1
    },
    {
        "id": "c4427b7badce4aa5",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "af6e746d20afc293",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 15,
        "width": 9,
        "height": 1
    },
    {
        "id": "6d699af498a1561b",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "ada3547cc112d944",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 18,
        "width": 3,
        "height": 1
    },
    {
        "id": "c41885bb17728e20",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "58ecfc7f17c86e63",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 21,
        "width": 3,
        "height": 1
    },
    {
        "id": "db05e6f76bc493e1",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 22,
        "width": 2,
        "height": 1
    },
    {
        "id": "b49bd168b902cb6b",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 23,
        "width": 3,
        "height": 1
    },
    {
        "id": "b98fe0c20eb94d90",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 24,
        "width": 2,
        "height": 1
    },
    {
        "id": "db10b61ec6c8ef1f",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 25,
        "width": 3,
        "height": 1
    },
    {
        "id": "7c8413f6fca3648b",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 26,
        "width": 2,
        "height": 1
    },
    {
        "id": "98406fc938fdd391",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 27,
        "width": 3,
        "height": 1
    },
    {
        "id": "38b8f019b08aa2c2",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 28,
        "width": 2,
        "height": 1
    },
    {
        "id": "2bed9e88ca5a4187",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 29,
        "width": 3,
        "height": 1
    },
    {
        "id": "fe04add834f91794",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 30,
        "width": 2,
        "height": 1
    },
    {
        "id": "427fcae7502cd22e",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 31,
        "width": 9,
        "height": 1
    },
    {
        "id": "a1a60ed7c2cfeb2d",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 32,
        "width": 2,
        "height": 1
    },
    {
        "id": "43c0b2b988b6316c",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 34,
        "width": 3,
        "height": 1
    },
    {
        "id": "c889288edc87b597",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 36,
        "width": 2,
        "height": 1
    },
    {
        "id": "abd12c55abc6541a",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 37,
        "width": 3,
        "height": 1
    },
    {
        "id": "129a219749ceb551",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 38,
        "width": 2,
        "height": 1
    },
    {
        "id": "127d8c874fb0611d",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 39,
        "width": 3,
        "height": 1
    },
    {
        "id": "e0cc7869cb141869",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 40,
        "width": 2,
        "height": 1
    },
    {
        "id": "3ed7bd6fb9a16a0e",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 41,
        "width": 3,
        "height": 1
    },
    {
        "id": "1d1c1c57e530c70d",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 42,
        "width": 2,
        "height": 1
    },
    {
        "id": "57591b679746ca22",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 43,
        "width": 3,
        "height": 1
    },
    {
        "id": "879280a27dfa7728",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 44,
        "width": 2,
        "height": 1
    },
    {
        "id": "e2222d41ee14105b",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 45,
        "width": 3,
        "height": 1
    },
    {
        "id": "ca8dc94fecf96990",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 46,
        "width": 2,
        "height": 1
    },
    {
        "id": "ecce81c596bd68e9",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 47,
        "width": 9,
        "height": 1
    },
    {
        "id": "2d16eab7eb0bf241",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 48,
        "width": 2,
        "height": 1
    },
    {
        "id": "b85fc2da8e199bae",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 50,
        "width": 3,
        "height": 1
    },
    {
        "id": "2f1390d9ed876c39",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 52,
        "width": 2,
        "height": 1
    },
    {
        "id": "ef74cd37a14ef8bc",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 53,
        "width": 3,
        "height": 1
    },
    {
        "id": "caaaeed443cc8076",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 54,
        "width": 2,
        "height": 1
    },
    {
        "id": "432f84d2ae3dad3e",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 55,
        "width": 3,
        "height": 1
    },
    {
        "id": "627afe2515e78037",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 56,
        "width": 2,
        "height": 1
    },
    {
        "id": "3475706030590339",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 57,
        "width": 3,
        "height": 1
    },
    {
        "id": "a1c623e08eb7ac18",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 58,
        "width": 2,
        "height": 1
    },
    {
        "id": "8485f83f5b72557e",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 59,
        "width": 3,
        "height": 1
    },
    {
        "id": "8d942f5abaf2595a",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 60,
        "width": 2,
        "height": 1
    },
    {
        "id": "bfd257ab39e05354",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 61,
        "width": 3,
        "height": 1
    },
    {
        "id": "e28d4f097395bacb",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 62,
        "width": 2,
        "height": 1
    },
    {
        "id": "93e7052c926f1fca",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 63,
        "width": 9,
        "height": 1
    },
    {
        "id": "04fca443e8eb5d1b",
        "type": "ui_spacer",
        "z": "923d46fbeb64e5e5",
        "name": "spacer",
        "group": "599d15c64f9d3c11",
        "order": 64,
        "width": 2,
        "height": 1
    },
    {
        "id": "7172b4a9e7f24faf",
        "type": "mqtt in",
        "z": "19183521a2d39204",
        "g": "1748b913055d5670",
        "name": "",
        "topic": "Esp_Heater_Control",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3d66ad6c381a3af0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "96166e52444ab96a",
                "0817b897dc7a5c6f",
                "5e41fa42626ee651"
            ]
        ]
    },
    {
        "id": "96166e52444ab96a",
        "type": "debug",
        "z": "19183521a2d39204",
        "g": "1748b913055d5670",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 140,
        "wires": []
    },
    {
        "id": "41ea0590354c89cc",
        "type": "mqtt in",
        "z": "19183521a2d39204",
        "g": "1748b913055d5670",
        "name": "",
        "topic": "Esp_Heater_Status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3d66ad6c381a3af0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 220,
        "wires": [
            [
                "96166e52444ab96a"
            ]
        ]
    },
    {
        "id": "0817b897dc7a5c6f",
        "type": "ui_gauge",
        "z": "19183521a2d39204",
        "g": "1748b913055d5670",
        "name": "",
        "group": "599d15c64f9d3c11",
        "order": 1,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "Esp32 Display Tank",
        "label": "Deg C",
        "format": "{{value}}",
        "min": "20",
        "max": "32",
        "colors": [
            "#000cb3",
            "#00e60f",
            "#ca3838"
        ],
        "seg1": "24",
        "seg2": "28",
        "x": 690,
        "y": 220,
        "wires": []
    },
    {
        "id": "5e41fa42626ee651",
        "type": "ui_chart",
        "z": "19183521a2d39204",
        "g": "1748b913055d5670",
        "name": "",
        "group": "599d15c64f9d3c11",
        "order": 3,
        "width": 16,
        "height": 7,
        "label": "Esp Display Tank Last 12 Hours",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 730,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "eede299d438f570d",
        "type": "comment",
        "z": "19183521a2d39204",
        "g": "1748b913055d5670",
        "name": "Display Tank Section",
        "info": "",
        "x": 150,
        "y": 60,
        "wires": []
    },
    {
        "id": "aacae0e8eaeaa5e3",
        "type": "1-Wire",
        "z": "923d46fbeb64e5e5",
        "g": "6191f9df9f4a6f9c",
        "identifier": "28-012032e3d6b5",
        "name": "",
        "format": "1",
        "x": 350,
        "y": 140,
        "wires": [
            [
                "ed203222210937c2",
                "2ce9d38b4f85508e",
                "0a4a7f9d5ca84ae4"
            ]
        ]
    },
    {
        "id": "ed203222210937c2",
        "type": "debug",
        "z": "923d46fbeb64e5e5",
        "g": "6191f9df9f4a6f9c",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 140,
        "wires": []
    },
    {
        "id": "598b8ecad3f0f6a4",
        "type": "inject",
        "z": "923d46fbeb64e5e5",
        "g": "6191f9df9f4a6f9c",
        "name": "2 Second check",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "aacae0e8eaeaa5e3"
            ]
        ]
    },
    {
        "id": "2ce9d38b4f85508e",
        "type": "ui_chart",
        "z": "923d46fbeb64e5e5",
        "g": "6191f9df9f4a6f9c",
        "name": "",
        "group": "599d15c64f9d3c11",
        "order": 19,
        "width": 16,
        "height": 7,
        "label": " Pi Display Tank Last 12 Hours",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#28b31e",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 650,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "0a4a7f9d5ca84ae4",
        "type": "ui_gauge",
        "z": "923d46fbeb64e5e5",
        "g": "6191f9df9f4a6f9c",
        "name": "",
        "group": "599d15c64f9d3c11",
        "order": 17,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "Pi Display Tank Now",
        "label": "Deg C",
        "format": "{{value}}",
        "min": "20",
        "max": "32",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "24",
        "seg2": "28",
        "x": 620,
        "y": 300,
        "wires": []
    },
    {
        "id": "aa283b45344d5c79",
        "type": "comment",
        "z": "923d46fbeb64e5e5",
        "g": "6191f9df9f4a6f9c",
        "name": "Display Tank Section",
        "info": "",
        "x": 130,
        "y": 80,
        "wires": []
    },
    {
        "id": "207b7eaf74e3b78c",
        "type": "comment",
        "z": "923d46fbeb64e5e5",
        "g": "f2e5476b86943dc4",
        "name": "Sump Tank Section",
        "info": "",
        "x": 150,
        "y": 420,
        "wires": []
    },
    {
        "id": "265524601c689982",
        "type": "inject",
        "z": "923d46fbeb64e5e5",
        "d": true,
        "g": "f2e5476b86943dc4",
        "name": "2 Second Check",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "5fddeef0a45ae970"
            ]
        ]
    },
    {
        "id": "5fddeef0a45ae970",
        "type": "1-Wire",
        "z": "923d46fbeb64e5e5",
        "g": "f2e5476b86943dc4",
        "identifier": "",
        "name": "",
        "format": "1",
        "x": 350,
        "y": 480,
        "wires": [
            [
                "901fd0f23821d2bf",
                "fe933abedf68a01d",
                "869838924c8fe1c8"
            ]
        ]
    },
    {
        "id": "901fd0f23821d2bf",
        "type": "debug",
        "z": "923d46fbeb64e5e5",
        "g": "f2e5476b86943dc4",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 480,
        "wires": []
    },
    {
        "id": "fe933abedf68a01d",
        "type": "ui_chart",
        "z": "923d46fbeb64e5e5",
        "g": "f2e5476b86943dc4",
        "name": "",
        "group": "599d15c64f9d3c11",
        "order": 35,
        "width": 16,
        "height": 7,
        "label": "Pi Sump Tank Last 12 Hours",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#b0b31e",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 640,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "869838924c8fe1c8",
        "type": "ui_gauge",
        "z": "923d46fbeb64e5e5",
        "g": "f2e5476b86943dc4",
        "name": "",
        "group": "599d15c64f9d3c11",
        "order": 33,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "Pi Sump Tank Now",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 610,
        "y": 640,
        "wires": []
    },
    {
        "id": "391f5c5f3b0afd2f",
        "type": "comment",
        "z": "923d46fbeb64e5e5",
        "g": "fa979195375602f8",
        "name": "Room Temparture",
        "info": "",
        "x": 150,
        "y": 760,
        "wires": []
    },
    {
        "id": "969063ad38ae93bf",
        "type": "inject",
        "z": "923d46fbeb64e5e5",
        "d": true,
        "g": "fa979195375602f8",
        "name": "1 minute check",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "0.3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 820,
        "wires": [
            [
                "afefa3c9c9584d4e"
            ]
        ]
    },
    {
        "id": "afefa3c9c9584d4e",
        "type": "1-Wire",
        "z": "923d46fbeb64e5e5",
        "g": "fa979195375602f8",
        "identifier": "",
        "name": "",
        "format": "1",
        "x": 350,
        "y": 820,
        "wires": [
            [
                "e48a8c0d92082339",
                "2604006473c6e76b",
                "c46365bb80ce69f3"
            ]
        ]
    },
    {
        "id": "e48a8c0d92082339",
        "type": "debug",
        "z": "923d46fbeb64e5e5",
        "g": "fa979195375602f8",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 820,
        "wires": []
    },
    {
        "id": "2604006473c6e76b",
        "type": "ui_chart",
        "z": "923d46fbeb64e5e5",
        "g": "fa979195375602f8",
        "name": "",
        "group": "599d15c64f9d3c11",
        "order": 51,
        "width": 16,
        "height": 7,
        "label": "Pi Room Temp Last 12 Hiurs",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#841eb3",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 640,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "c46365bb80ce69f3",
        "type": "ui_gauge",
        "z": "923d46fbeb64e5e5",
        "g": "fa979195375602f8",
        "name": "",
        "group": "599d15c64f9d3c11",
        "order": 49,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "Pi Room Temp Last 12 Hours",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 640,
        "y": 980,
        "wires": []
    }
]